#mysidenav a{
	position: absolute;
	left: -80px;
	transition: 0.4s;
	padding: 14px;
	width: 100px;
	font-size: 20px;
	font-family: sans-serif;
	color: white;
	border-radius: 0 5px 5px 0;
}
#mysidenav a:hover {
	left: 0;
}
body {
	background: url(grey1.jpg) no-repeat center fixed;
	background-size: cover;
	margin: 0;
    padding: 0;
     }
.rating {

	bottom:20%;
	left: 20%;
	transform: translate(-75%,-75%) rotateY(180deg);
	display: flex;
}
.rating input{
	display: none;
}
.rating label {
	display: block;
	cursor: pointer;
	width: 50px;
	margin-bottom: : -180px;
}

.rating label:before{
	content: '\f005';
font-family: fontAwesome;
position: relative;
display: block;
font-size: 50px;
color: #101010;
}

.rating label:after{
	content: '\f005';
font-family: fontAwesome;
position: absolute;
display: block;
font-size: 50px;
color: #1f9cff;
top: 0; 
opacity: 0;
transition: .5s;
text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.rating label:hover:after,
.rating label:hover ~label:after,
 .rating input:checked ~label:after 
 {
	opacity: 1;

}
table, td {
transform: translate(-5%, -5%);
	width: 60%;
	margin: auto;
	border: 3px solid white;
	border-collapse: collapse;
	text-align: center;
	font-size: 30px;
	table-layout: fixed;
	background: transparent;
	opacity: 0.7;
	color: black;
	margin-top: -350px;


}
.img img{
	margin-bottom: 90px;
	margin-top: 90px;
	margin-left: 50px;
} 

#goback {
	top: 20px;
	background-color: red;

}
p {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-decoration: none;
	width: 800px;
	overflow: hidden;
	position: absolute;
	top: 30%;
	left: 70%;
	transform: translate(-55%, -55%);
border: 3px solid white;
}
